<script type="text/javascript">
//js鏃犵紳婊氬姩浠ｇ爜
var prscrollLeft = -1;
function marquee(i, direction){
	var obj = document.getElementById("marquee" + i);
	var obj1 = document.getElementById("marquee" + i + "_1");
	var obj2 = document.getElementById("marquee" + i + "_2");
	if (direction == "up"){
		if (obj2.offsetTop - obj.scrollTop <= 0){
			obj.scrollTop -= (obj1.offsetHeight + 20);
		}else{
			var tmp = obj.scrollTop;
			obj.scrollTop++;
			if (obj.scrollTop == tmp){
				obj.scrollTop = 1;
			}
		}
	}else{
		if (obj2.offsetWidth - obj.scrollLeft <= 0){
			obj.scrollLeft -= obj1.offsetWidth;
		}else{
		  
			obj.scrollLeft=obj.scrollLeft+1;
			if(prscrollLeft == obj.scrollLeft)
		  {
		    obj.scrollLeft=0;
		  }
			prscrollLeft=obj.scrollLeft;
			
		}
	}
}

function marqueeStart(i, direction){
	var obj = document.getElementById("marquee" + i);
	var obj1 = document.getElementById("marquee" + i + "_1");
	var obj2 = document.getElementById("marquee" + i + "_2");

	obj2.innerHTML = obj1.innerHTML;
	var marqueeVar = window.setInterval("marquee("+ i +", '"+ direction +"')", 20);
	obj.onmouseover = function(){
		window.clearInterval(marqueeVar);
	}
	obj.onmouseout = function(){
		marqueeVar = window.setInterval("marquee("+ i +", '"+ direction +"')", 20);
	}
}
</script>
<div class="content w1200 layout">
  <hr />
  <div class="mb50 layout">
    <div class="fl w1200 gdl_con">
      <div class="layout">
        <h2>华人名医</h2>
        <div id="consult_dep" class="fl gdl_tab ">
          <ul>
            <li class="cur"><a href="javascript:void(0);">心血管</a></li>
            <li><a href="javascript:void(0);" class="" data="A">高血压</a></li>
            <li><a href="javascript:void(0);" class="" data="B">冠心病</a></li>
          </ul>
        </div>
        <a href="" class="fr more "> <span>更多医生</span> <i class="more_i g_icon"></i> </a> </div>
      <div  id="marquee1"  class="layout cons">
       <div style="width:8000px;">
        <ul id="marquee1_1">
          <li>
            <div class="layout mt20"><a href="/doctor_website" class="fl c_doca"><img oncontextmenu="return(false);" src="/img/2010424171427302.jpg" alt="" width="90" height="100"></a>
              <div class="fl d_info">
                <p><a href="/doctor_website" class="d_name">郑宏</a></p>
                <p class="fs12 gray_1">主治医师</p>
              </div>
            </div>
            <div class="mt20 d_hos">
              <p class=""><a href="" class="hos_n word_hid">阜外医院</a><a href="" class="gray_1 dep_n word_hid"></a></p>
              <p class="fs12 gray_1 mt8 d_det">各种先心病的诊断与介入治疗，以及冠心病、瓣膜病 </p>
            </div>
            <div class="doc_bottom"><a href="/doctor_website" ><span class="btn btn_con fl">加号</span></a><a href="/doctor_website"><span class="btn btn_con fr">咨询</span></a></div>
          </li>
          <li>
            <div class="layout mt20"><a href="/doctor_website" class="fl c_doca"><img oncontextmenu="return(false);" src="http://images.91160.com/upload/3274/doctor/1/doctor_12325.jpg" alt="" width="90" height="100"></a>
              <div class="fl d_info">
                <p><a href="" class="d_name">杨农</a></p>
                <p class="fs12 gray_1">主任医师</p>
              </div>
            </div>
            <div class="mt20 d_hos">
              <p class=""><a href="http://www.91160.com/unit/show/uid-341.html" class="hos_n word_hid">湖南省肿瘤医院</a><a href="http://www.91160.com/dep/show/depid-3689.html" class="gray_1 dep_n word_hid"></a></p>
              <p class="fs12 gray_1 mt8 d_det">专注肺癌/胃肠肿瘤的分子靶向治疗、国际规范化治疗。在“..</p>
            </div>
            <div class="doc_bottom"><span class="btn btn_con fl">加号</span><a href=""><span class="btn btn_con fr">咨询</span></a></div>
          </li>
          <li>
            <div class="layout mt20"><a href="" class="fl c_doca"><img oncontextmenu="return(false);" src="http://images.91160.com/upload/3316/doctor/1/doctor_100058961.jpg" alt="" width="90" height="100"></a>
              <div class="fl d_info">
                <p><a href="" class="d_name">杨兴智</a></p>
                <p class="fs12 gray_1">医师</p>
              </div>
            </div>
            <div class="mt20 d_hos">
              <p class=""><a href="" class="hos_n word_hid">阜外医院</a><a href="" class="gray_1 dep_n word_hid"></a></p>
              <p class="fs12 gray_1 mt8 d_det"> 擅长中西医结合方式治疗男性泌尿生殖系统感染、前列..</p>
            </div>
            <div class="doc_bottom"><span class="btn btn_con fl">加号</span><a href=""><span class="btn btn_con fr">咨询</span></a></div>
          </li>
           <li>
            <div class="layout mt20"><a href="" class="fl c_doca"><img oncontextmenu="return(false);" src="http://images.91160.com/upload/3316/doctor/1/doctor_100058961.jpg" alt="" width="90" height="100"></a>
              <div class="fl d_info">
                <p><a href="" class="d_name">杨兴智</a></p>
                <p class="fs12 gray_1">医师</p>
              </div>
            </div>
            <div class="mt20 d_hos">
              <p class=""><a href="" class="hos_n word_hid">阜外医院</a><a href="" class="gray_1 dep_n word_hid"></a></p>
              <p class="fs12 gray_1 mt8 d_det"> 擅长中西医结合方式治疗男性泌尿生殖系统感染、前列..</p>
            </div>
            <div class="doc_bottom"><span class="btn btn_con fl">加号</span><a href=""><span class="btn btn_con fr">咨询</span></a></div>
          </li>
          <li>
            <div class="layout mt20"><a href="" class="fl c_doca"><img oncontextmenu="return(false);" src="http://images.91160.com/upload/3316/doctor/1/doctor_100058961.jpg" alt="" width="90" height="100"></a>
              <div class="fl d_info">
                <p><a href="" class="d_name">杨兴智</a></p>
                <p class="fs12 gray_1">医师</p>
              </div>
            </div>
            <div class="mt20 d_hos">
              <p class=""><a href="" class="hos_n word_hid">阜外医院</a><a href="" class="gray_1 dep_n word_hid"></a></p>
              <p class="fs12 gray_1 mt8 d_det"> 擅长中西医结合方式治疗男性泌尿生殖系统感染、前列..</p>
            </div>
            <div class="doc_bottom"><span class="btn btn_con fl">加号</span><a href=""><span class="btn btn_con fr">咨询</span></a></div>
          </li>
        </ul>
        </ul>
         <ul id="marquee1_2">
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">marqueeStart(1, "left");</script>
